.profile {
	width: 80%;
	margin: 25px auto;
	.wrap {
		height: 210px;
		line-height: initial;
		p {
			margin-top: 2px;
			float: left;
			margin-left: 15px;
		}
		.profile-name {
			margin-top: 20px;
		}
		.status-options {
			position: absolute;
			opacity: 0;
			visibility: hidden;
			width: 150px;
			margin: 70px 0 0 0;
			border-radius: 6px;
			z-index: 99;
			line-height: initial;
			background: #435f7a;
			-moz-transition: 0.3s all ease;
			-o-transition: 0.3s all ease;
			-webkit-transition: 0.3s all ease;
			transition: 0.3s all ease;
			&::before {
				content: '';
				position: absolute;
				width: 0;
				height: 0;
				border-left: 6px solid transparent;
				border-right: 6px solid transparent;
				border-bottom: 8px solid #435f7a;
				margin: -8px 0 0 24px;
			}
			&.active {
				opacity: 1;
				visibility: visible;
				margin: 75px 0 0 0;
			}
			ul {
				overflow: hidden;
				border-radius: 6px;
				li {
					padding: 15px 0 30px 18px;
					display: block;
					cursor: pointer;
					p {
						padding-left: 12px;

						@media screen and (max-width: 735px) {
							display: none;
						}
					}
					@media screen and (max-width: 735px) {
						padding: 15px 0 35px 22px;
					}
					&:hover {
						background: #496886;
					}
					&.status-online {
						@media screen and (max-width: 735px) {
							width: 58px;
							margin-top: 57px;
						}
						span.status-circle {
							background: #2ecc71;
							&::before {
								border: 1px solid #2ecc71;
							}
						}
					}
					&.status-away {
						span.status-circle {
							background: #f1c40f;
							&::before {
								border: 1px solid #f1c40f;
							}
						}
					}
					&.status-busy {
						span.status-circle {
							background: #e74c3c;
							&::before {
								border: 1px solid #e74c3c;
							}
						}
					}
					&.status-offline {
						span.status-circle {
							background: #95a5a6;
							&::before {
								border: 1px solid #95a5a6;
							}
						}
					}
					span.status-circle {
						position: absolute;
						width: 10px;
						height: 10px;
						border-radius: 50%;
						margin: 5px 0 0 0;
						&::before {
							content: '';
							position: absolute;
							width: 14px;
							height: 14px;
							margin: -3px 0 0 -3px;
							background: transparent;
							border-radius: 50%;
							z-index: 0;
							@media screen and (max-width: 735px) {
								height: 18px;
								width: 18px;
							}
						}
					}
				}
			}
		}
		.expanded {
			padding: 100px 0 0;
			display: block;
			line-height: initial;
			label {
				float: left;
				clear: both;
				margin: 0 8px 5px 0;
				padding: 5px 0;
			}
			input {
				border: none;
				margin-bottom: 6px;
				background: #32465a;
				border-radius: 3px;
				color: #f5f5f5;
				padding: 7px;
				width: calc(100% - 43px);
			}
		}
		.expand-button {
			float: right;
			margin-top: 23px;
			font-size: 0.8em;
			cursor: pointer;
			color: #435f7a;
		}
		img {
			width: 50px;
			border-radius: 50%;
			padding: 3px;
			border: 2px solid #e74c3c;
			height: auto;
			float: left;
			cursor: pointer;
			-moz-transition: 0.3s border ease;
			-o-transition: 0.3s border ease;
			-webkit-transition: 0.3s border ease;
			transition: 0.3s border ease;
			@media screen and (max-width: 735px) {
				width: 40px;
				margin-left: 4px;
			}
			&.online {
				border: 2px solid #2ecc71;
			}
			&.away {
				border: 2px solid #f1c40f;
			}
			&.busy {
				border: 2px solid #e74c3c;
			}
			&.offline {
				border: 2px solid #95a5a6;
			}
		}
	}
}
